{% block content %}
    <form action="{{ path('add_comment', { 'id': id}) }}" method="post">
        <h1 class="h3 mb-3 font-weight-normal">New comment</h1>
        <label for="content">Content</label>
        <input type="text" name="_content" id="content" class="form-control" autocomplete="current-content" required>
        <button class="btn btn-lg btn-primary" type="submit">
            Comment
        </button>
    </form>
{% endblock %}
